*{
    margin: 0px;
    padding: 0px;
}
body{
    width:100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.parteArriba{
    background: url(../IMG/lol.jpg);

    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
  
}
.barra{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    align-items: center;
    /* position: fixed;
   left: 0;
   right:0;
   top:0;
   width:100%; */

}
.barra img{
    width:8rem;
    margin-top: 1%;
    margin-bottom: 2%;
}
.barra img{
    margin-left:3rem;
    transform: translateY(10px);
   transition: 1s all ease;
}
.barra img:hover{
    
    transform: translateY(-10px);
   transition: 1s all ease;
}
.enlaces{
    margin-right: 5%;
}
.enlaces a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.3rem;
   margin-left: 1.4rem;

}
.enlaces a:hover{
    color:rgb(255, 196, 0);
   transition: .5s;
}
.Entrada{
    color:rgb(185, 185, 185);
    text-align: center;
    margin-top: 12%;
}
.Entrada h1{
    font-size: 3rem;
    color: rgb(255, 255, 255);
}
.Entrada a{
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    background: transparent;
    padding: .5rem 1rem;
    text-decoration: none;
    border-radius: 10px;
    border: white solid 3px;
    /* opacity: .5; */
   position:relative;
   top:3rem;
   margin-left: 1rem;
   margin-right: 1rem;
}
.Entrada a:hover{
    color:rgb(0, 0, 0);
    background:rgb(255, 255, 250);
    /* border:none; */
    border: white solid 3px;
    padding: .3rem  1rem;
}
/* editando css tarjetas */
.title{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}


.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
}
.textoCentradoH2 h2{
    text-align:center;
    color:black;
    font-size: 3rem;
    margin-top:3rem;
}

.container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 330px;
    height: 220px;
}


.container .card h4{
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}
.compania{
    background:rgb(255, 255, 255);
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img img{
    width:30rem;
    margin:3rem 4rem;
}
.img{
   
   margin-right: 4%;
}
.textocompa{
    margin:0% 5%;
}

