html{
    font-size: 62.5%
}
/* editar solo html */
html{
    font-size: 62.5%
}
/* estilos del pushbar */
/* cerrar pushbar */
.editpush span{
    position:relative;
    left:90%;
    top:1rem;;
    cursor: pointer;
   
    color: white;
}
.editpush {
    background: rgba(0, 0, 0, 0.753);
    background-size: cover; 
    color: white;
    /* clip-path: polygon(50% 0%, 100% 0, 100% 94%, 50% 100%, 0 95%, 0 0); */
    clip-path: ellipse(98% 58% at 49% 41%);
    
   
}
button{
    
    background:  transparent;
    border:none;
    position:relative;
    left:90%;
    top:1rem;;
    cursor: pointer;

}
.editpush h2{
    font-size:4rem;
    margin-top:-1rem;
    text-align: center;
}
.push{
    display: flex;
    flex-direction:row;
    width: 100%;
}
.place{
    display: flex;
    flex-direction: column;
    width:28.3%;
    margin: 1% 3%;
    
}
.position{
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.place label{
    text-align:center;
}
.place input::placeholder{
    color:rgb(255, 255, 255);
    text-align:center; 
}
.place input:placeholder-shown{
    color:white;
}
.place input{
    background: rgba(0, 0, 0, 0.582);
    padding: 1rem 1%;
    border: none;
    border-radius: 20px;
    height: 5rem;
    

}
.botonp{
    cursor: pointer;
    margin-top:2rem;
    margin-bottom: 2rem;
    background: rgb(185, 44, 20);
    color: white;
    padding: 2rem 2rem;
    font-size: 2rem;
    border:none;
    border-radius:10px;
}




    body{
     width: 100%;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 1.6rem;
      line-height: 2;
      max-width: 300rem;
      margin-left: 0px;
      background: rgb(19, 21, 25)
    }
    /* cargador */
    .ir-arriba{
        display: none;
        padding: 20px;
        background: rgb(195, 40, 66);
        font-size: 3rem;
        border-radius:500px;
        color:white;
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        right:20px;
        z-index:2;
    }
    /* scroll personalizado */
body::-webkit-scrollbar{
    width:10px;
    
}
body::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.137);
    border-radius: 5px;
}

.Header{
    background: url(../IMG/HEADER.jpg);
    background-size: 100%;
   width: 100%;
    height: 20rem;
    clip-path: polygon(50% 0%, 100% 0, 100% 86%, 50% 100%, 0 89%, 0 0);
    /* llamando la animacion y poniendosela al header */
    animation-name: estilo;
    animation-duration: 3s;
}
/* cerrar pushbar */
.editpush span{
    position:relative;
    left:90%;
    top:1rem;;
    cursor: pointer;
   
    color: white;
}
.editpush {
    background: rgba(0, 0, 0, 0.753);
    background-size: 100%; 
    color: white;
    /* clip-path: polygon(50% 0%, 100% 0, 100% 94%, 50% 100%, 0 95%, 0 0); */
    clip-path: ellipse(98% 58% at 49% 41%);
    
   
}
button{
    
    background:  transparent;
    border:none;
    position:relative;
    left:90%;
    top:1rem;;
    cursor: pointer;

}
.editpush h2{
    font-size:4rem;
    margin-top:-1rem;
    text-align: center;
}
.push{
    display: flex;
    flex-direction:row;
    width: 100%;
}
.place{
    display: flex;
    flex-direction: column;
    width:28.3%;
    margin: 1% 3%;
    
}
.position{
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.place label{
    text-align:center;
}
.place input::placeholder{
    color:rgb(255, 255, 255);
    text-align:center; 
}
.place input:placeholder-shown{
    color:white;
}
.place input{
    background: rgba(0, 0, 0, 0.582);
    padding: 1rem 1%;
    border: none;
    border-radius: 20px;
    height: 5rem;
    

}
.botonp{
    cursor: pointer;
    margin-top:2rem;
    margin-bottom: 2rem;
    background: rgb(185, 44, 20);
    color: white;
    padding: 2rem 2rem;
    font-size: 2rem;
    border:none;
    border-radius:10px;
}



.barra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0rem 4rem;
    align-items: center;
    text-align:center;
}
.barra img{
    width: 20%;
}
.entrada h1{
    margin-bottom: 3rem;
}
.barra a{
    color: white;
   text-decoration: none;
   font-size: 2rem;
   margin-left: 2rem;


}
.texto{
    color: white;
    text-align: center;
    font-size: 3rem;
    line-height: 0.5;
    margin-top: 9rem;
    opacity: 0;
}
.cajaes a{
    color: white;
    padding: 1rem 3rem;
    border: 2px solid white;
    text-decoration: none;
    border-radius: 100px;
    font-size: 2rem;
}
.cajaes{
    display: flex;
    justify-content: center;
    margin-top: 12rem;
}
/* estilo de la barra que baja (efectos) */
@keyframes estilo{
    0%{
height: 70rem;
     }
    100%{
height: 20rem;
width: 100%;
    }
}
.obra img{
    width: 29rem ;
    height: 40rem;
}
.obra{
    width: 29rem ;
    margin-bottom: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.obra p{
    color: rgb(97, 92, 92);
    text-align: center;
}
.obra a{
    color: white;
    padding: .5rem 5rem;
    border: 2px solid white;
    text-decoration: none;
    border-radius: 100px;
    font-size: 2rem;
    margin-bottom:3rem;
}
.cajae{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.cajae a{
    color: white;
    padding: 1rem 2rem;
    border: 2px solid white;
    text-decoration: none;
    border-radius: 100px;
    font-size: 2rem;
   
}
.contenedorbra{
    display:flex;
    justify-content: space-between;
    margin-top: 5rem;
}

  

.obraa h2 {
    color: white;
    font-size: 3rem;
    text-align: center;
}
.obraa h1{
    color: white;
    font-size: 4rem;
    text-align: center;
}
.obraa p{
    color: rgb(110, 109, 109);
    
    text-align: center;
}
.obraa .tipe{
    color: rgb(90, 88, 88);
    font-size: 2rem;
    text-align: center;
    margin-bottom: -5rem;
}
.categorias{
    background: url(../IMG/Categorias.jpg);
   clip-path: polygon(50% 0%, 100% 3%, 100% 97%, 50% 100%, 0 96%, 0 4%);
    height: 40rem;
    margin-top: 3rem;
    margin-right: 0%;
    background-size: cover;
    width: 90%;
}
.categoria{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin:9% 10%;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    top:13%;
    justify-content: center;
}
.categoria a{
   margin: 3% 3%;
  
    
    color: white;
    color: white;
    padding: 1rem 2rem;
    border: 2px solid white;
    text-decoration: none;
    border-radius: 100px;
    font-size: 2rem;
    
    
}
.categoria a:hover{
    background: rgb(207, 50, 22);
}
/* .categoria{
    position: relative;
    top: 20rem;
    left: 7rem;
} */
.barr img{
    width: 15rem;
}
.na a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    margin-left: 2rem;
   
}
.barr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 3rem;
    position: relative;
    top: -5rem;
}
.textoo p{
    color: white;
    text-align:center;
    width: 80%;
    margin: 1% 10%;
}
.textoo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer{
    margin-top: 5rem;
}
.categorias{
    width: 100%;
    margin: 0% 0%;
}/* idiomas */
.idioma{
    text-align:center;
    width:42%;
    margin: 0% 4%;
    background: rgba(255, 255, 255, 0.061);
    border-radius: 10px;
    transform: translateY(5px);
    transition: all .5s ease;
}
.idioma h4{
    font-size: 3rem;
    margin-top:0rem;
}
.subemu{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin: 0% 10%;
    padding: 2rem;
    
}
.subemu a{
    color:white;
    text-decoration: none;
    font-size:2rem;
}
.conf{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.idioma:hover{
    transform: translateY(-5px);
    transition: all .5s ease;
}
.editpush {
    background: rgba(0, 0, 0, 0.753);
    background-size: 100%; 
    color: white;
    height: 60rem;
    /* clip-path: polygon(50% 0%, 100% 0, 100% 94%, 50% 100%, 0 95%, 0 0); */
    clip-path: ellipse(98% 58% at 49% 41%);
    
   
}