@media (max-width:1070px){

    .cajaes{
        margin-top: 2%;
    }
    .texto{
        margin-top: 10%;
    }
    .texto p{
        margin-top: 2rem;
        line-height: 1;
    }
    .barra img{
        width: 40%;
    }
    .texto{
        animation-name: lol;
        animation-duration: 2s;
    }
    @keyframes lol{
        0%{
            opacity: 1;
        }
        50%{
            opacity: .5;
        }
        100%{
            opacity: 0;
        }
    }
    .frases p{
        width: 80;
        margin: 6% 10%;
    }
}
@media(max-width:797px){
    .barra img{
        display: none;
    }
    .nav{
        width: 100%;
        margin-top: 8%;
    }
}
@media(max-width:1231px){
    .categoria{
     display: none;
    }
    .todocate{
        display: flex;
        flex-direction: column;
        
    }
    .categoria1{
        width: 30rem;
        margin: 5% 20%;
        align-content: center;
        text-align: center;
    }
    .categoria2{
        width: 30rem;
        margin: 5% 20%;
        align-content: center;
        text-align: center;
    }
    .categoria3{
        width: 30rem;
        margin: 5% 20%;
        align-content: center;
        text-align: center;
    }
    .categoria4{
        width: 30rem;
        margin: 5% 20%;
        align-content: center;
        text-align: center;
    }
    .categoria5{
        width: 30rem;
        margin: 5% 20%;
        align-content: center;
        text-align: center;
    }
    .categoria6{
        width: 30rem;
        margin: 5% 20%;
        align-content: center;
        text-align: center;
    }
    .categoria7{
        width: 30rem;
        margin: 5% 20%;
        align-content: center;
        text-align: center;
    }
    .textoinf{
       
        justify-content: center;
    }
    .textoinf a{
     
        position: relative;
        top: 4rem;

    }
    .cate{
        height: 440rem;
    }
    .todocate{
        position: relative;
        top: 5rem;
    width: 90%;
    }
  
    
}
@media (max-width:1070px){
    .barr {
       display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-right:3rem;
        margin-left: - 10px;
        text-align:center;
    }
}
@media (max-width:1070px){
    .barr{
        display:flex;
        flex-direction: column;
        width: 80%;
        margin:1% 10%;
        position: relative;
        top: 4%;

    }
    .na{
        margin-top: 5%;
    }
}

